body {
    background-color: #9bafc2;
}

#form {
    margin: 19% auto;
    width: 325px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}

#input-password {
    margin-top: 10px;
}

.lock-icon {
    width: 11px;
}

#login-btn {
    width: 100%;
}

#remember {
    text-align: right;
    margin: 8px auto;
}

#login-remember {
    position: absolute;
}

#legend-text {
    display: inline-block;
    margin-left: 5px;
    position: absolute;
    margin-top: 6px;
}

label {
    font-weight: 400 !important;
    margin-bottom: 0 !important;
    margin-left: 18px;
}