.navbar {
    margin-bottom: 0;
}

.select-calendar-format {
    text-align: center;
    margin-top: 20px;
}
.calender-btn-group {
    margin-bottom: 10px;
}
.sidebar-left {
    float: left;
    width: 500px;
}
.input-group {
    width: 350px;
    margin: 0 auto 20px auto;
}
.select-calendar-format .list-group {
    list-style: none;

}
.list-group {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.addEventBlock {
    text-align: center;
}
.addEventBtn {
    margin: 20px auto;
}
.sidebar-left-border-right{
    border-right: 1px solid #969696;
}
.sidebar-left-border-bottom {
    border-bottom: 1px solid #969696;
}
.startdate-timepicker{
    margin-left: 10px;
}
.start-date{
    display: flex;
}
.end-date{
    display: flex;
}
.row {
    margin-right: 0;
}